{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Disease Detection</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="wrapper">
              <div class="logo"><a href="#">Skin Check</a></div>
              <ul class="nav-links">
                <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                <li><a href="#">Home</a></li>
                <li><a href="#">Detection</a></li>
                <li><a href="#">Login</a></li>
                <!-- <li><a href="#">Sign-up</a></li> -->
              </ul>
              <!-- <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label> -->
            </div>
          </nav>
    </header>

    <div class="header">
        <div class="image-container">
            <img src="{% static 'images/mom.jpg' %}" alt="Skin Disease">
        </div>
        <div class="text">
            <h1>Welcome to Skin Disease Detection</h1>
            <p>A website that helps you identify skin diseases and provides information on how to treat them.</p>
        </div>
    </div>



