{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Detection APP</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="header">
        <h1><span>Image Prediction Tool</span> with Django</h1>
      </div>
  
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input
          class="custom-file-upload"
          type="file"
          accept="image"
          name="image"
          id="file"
        />
        <button class="compress_image" type="submit" id="submitBtn">
          Predict Animal
        </button>
        <div class="status">
          <p id="message">{{ message }}</p>
        </div>
      </form>

      <div class="wrapper">
        <img
          src="{% if file_url %}{{ file_url }}{% else %}{% static 'images/default.png' %}{% endif %}"
          alt="Compressed Image"
          width="400px"
        />
  
        <div class="info_container">
          <ul>
            <li>Name: <span class="name">{{ disease }}</span></li>
            <li>Prediction: <span class="type">{{ disease }}</span></li>
            <li>Medicine recoomendation: <span class="type">{{ medicine_recommendation }}</span></li>
          </ul>
        </div>
      </div>
  
      <div class="header">
        <h4><span>Tensored </span>Django</h4>
      </div>
  
      <script src="{% static 'js/main.js' %}"></script>
    </body>
    
</html>
