{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skin disease Prediction</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}" /> 
</head>
 
<body>


   

    <form method="post">

        <h3>Enter new password</h3>

        <p>Please enter your new password twice so we can verify you types it in correctly.</p>
        
        {% csrf_token %}
        {{form}}

        <input type="submit" name="Update Password">
    </form>
</body>
</html>