{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skin disease Prediction</title>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->
</head>

<h3>Password Reset</h3>

<p>Forgotten your password? Enter your email address below, and we'll email instruction for setting a new one.</p>

<form method="post">
    {% csrf_token %}
    {{form}}
    <input type ="Submit" name="Send email">

</form>


</body>
</html>