{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/verification_instructions.css' %}" />
    <title>Email Verification Instructions</title>
</head>
<body>
    <form method="post">
        <h1>Check Your Email for Verification</h1>
        <p>Please check your email for verification instructions. Click the link provided in the email to verify your account.</p>
    </form>
</body>
</html>